<p id="notice"><%= notice %></p>


<table  class="ui celled table">
  <thead>
  <tr>
    <th>param文字列</th>
    <th>Search key</th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td> <%= @query_definition.params_string %></td>
      <td><%= @query_definition.search_key %></td>
    </tr>

  </tbody>
</table>


<%= link_to 'Edit', edit_query_definition_path(@query_definition) %> |
<%= link_to 'Back', query_definitions_path %>
